@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --light-blue: #3ec8ea;
  --blue-bg: rgba(166, 208, 240);
  --cream: #eeeeee;
  --blue: #0081e2;
  --gray: rgba(174, 174, 174, 0.55);
  --eagle-green: #185d65ff;
}
.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.continent-btn {
  padding: 0.5rem;
  width: 5rem;
  font-size: 1rem;
}
button {
  background-color: var(--gray);
  color: var(--blue);
  border: none;
  margin: 0 0.4rem;
  padding: 0.2rem;
  border-radius: 5px;
}
@media (max-width: 500px) {
}
.country-btn {
  background-color: var(--cream);
  font-size: 0.8rem;
  width: 5rem;
  height: 2rem;
}
button:hover {
  outline: 1px solid rgb(174, 174, 174);
}
